/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End meyer reset */

/* Link to fonts in folder */
@font-face {
    font-family: AnchorJack; src: url('fonts/AnchorJack.ttf'); 
}

@font-face {
    font-family: GillSans; src: url('fonts/GillSans.ttc'); 
}

/* Document defaults */
body {
    font-family: 'GillSans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #3b3b3b;
    background-color: #666;
}


/* Font sizes */
.fs1 {
    font-size: 32px;
}

.fs2 {
    font-size: 24px;
}

.fs3 {
    font-size: 18px;
}

.fs4 {
    font-size: 14px;
}

.fs5 {
    font-size: 12p;
}

/* Font colors */
.fc-white {
    color: #fff;
}

.fc-black {
    color: #3b3b3b;
}

.fc-orange {
    color: darkorange;
}

/* Font families */
.ff-futura-cond-eb {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
}

.ff-gillsans {
    font-family: 'GillSans', sans-serif;
}

.ff-anchorjack {
    font-family: 'Anchor Jack', sans-serif;
    text-transform: uppercase;
}

.ta-center {
    text-align: center;
}

.top-nav {
    height: 58px;
    width: 100%;
    background-color: #fff;
}

.nav-ul {
    height: 58px;
    width: 100%;
    max-width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
}

.nav-li {
    float: left;
}

.top-nav-mobile {
    display: none;
    height: 58px;
    width: 100%;
    background-color: #fff;
}

.hamburger-container {
    width: 68px;
    height: 58px;
}

.hamburger {
    width: 30px;
    height: 20px;
    margin: 19px;
}

@media only screen and (max-width: 959px) {
    .top-nav {
        display: none;
    }

    .content-container{
        @import url(http://fonts.googleapis.com/css?family=Roboto);
    }

    .mobile-content-container{
        display: none;
    }
    
    .top-nav-mobile {
        display: block;
    }
}


.schedule-body {
    
    background-color: burlywood;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
}



#schedule-menu {
    
    background-image: url(images/day1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    height:400px;
    
}



.schedule-list {
    
    width:400px;
    margin-left: auto;
    margin-right:auto;
    
    
}







/* START PARALLAX SCROLL */

body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #130d0a;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#hero, .layer {
  min-height: 800px;
}

.layer-bg {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg");
}

.layer-1 {
  background-image: url(images/parallax/home1.png");
  background-position: left bottom;
}

.layer-2 {
  background-image: url(images/parallax/home2.png);
}

.layer-3 {
  background-image: url(images/parallax/home3.png);
  background-position: right bottom;
}

.layer-4 {
  background-image: url(images/parallax/home4.png);
}

.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png\a 		");
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}
.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}
.tutorial-link:hover {
  color: #ede0d5;
}



/* .........END PARALLAX SCROLL............ */


/* .........START MEDIA QUERIES............ */


@media only screen and (max-width: 959px) {
    
}

@media only screen and (max-width: 959px) {
    .content-container{
        display: none;
    }
    
    .mobile-content-container{
        display: inline-block;
    }
    
    @import url(http://fonts.googleapis.com/css?family=Roboto);
    body {
        font-family: 'GillSans', sans-serif;
        font-size: 12pt;
        color: #fff;
        background: #3498db;
    }
    span{
    font-size: 12pt;
    font-family: 'GillSans', sans-serif;
    }

    .wrapper {
    margin: 10% auto;
    width: 400px;
    }

    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    border-bottom: none;
    }

    label:hover {
    background: #26C281;
    }

    label.last {
    border-bottom: 1px solid #fff;
    }   

    ul ul li {
    padding: 10px;
    background: #59ABE3;
    }

    input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    }

    input[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
    }

    input[type="checkbox"]:checked + label {
    background: #26C281;
    border-bottom: 1px solid #fff;
    }
}