/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End meyer reset */

/* Link to fonts in folder */
@font-face {
    font-family: AnchorJack; src: url('fonts/AnchorJack.ttf'); 
}

@font-face {
    font-family: GillSans; src: url('fonts/GillSans.ttc'); 
}

/* Document defaults */
body {
    font-family: 'GillSans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #3b3b3b;
    background-color: #666;
}


/* Font sizes */
.fs1 {
    font-size: 32px;
}

.fs2 {
    font-size: 24px;
}

.fs3 {
    font-size: 18px;
}

.fs4 {
    font-size: 14px;
}

.fs5 {
    font-size: 12p;
}

/* Font colors */
.fc-white {
    color: #fff;
}

.fc-black {
    color: #3b3b3b;
}

.fc-orange {
    color: darkorange;
}

/* Font families */
.ff-futura-cond-eb {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
}

.ff-gillsans {
    font-family: 'GillSans', sans-serif;
}

.ff-anchorjack {
    font-family: 'Anchor Jack', sans-serif;
    text-transform: uppercase;
}

.mobile-ta-center {

}
   
.top-nav {
    height: 58px;
    width: 100%;
    background-color: #fff;
}

.nav-ul {
    height: 58px;
    width: 100%;
    max-width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;

}

.nav-li {
    float: left;
}

.top-nav-mobile {
    display: none;
    height: 58px;
    width: 100%;
    background-color: #fff;
}

.hamburger-container {
    width: 68px;
    height: 58px;
}

.hamburger {
    width: 30px;
    height: 20px;
    margin: 19px;
}

.mobile-content-container{
    display: none;
}

.wrapper {
    margin: 10px auto;
    width: 400px;
}

@media only screen and (max-width: 959px) {
    .top-nav {
        display: none;
    }

    .content-container{

    }

    .top-nav-mobile {
        display: block;
    }
}

@media only screen and (max-width: 959px) {
    .content-container{
        display: none;
    }
    
    .mobile-content-container{
        display: block;
    }
    
    span{
        font-size: 12pt;
        font-family: 'GillSans', sans-serif;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    label {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: #26C281;
    }

    label:hover {
        background-color: #fab;
    }

    label.last {

    }   

    ul ul li {
        padding: 10px;
        background-color: #59ABE3;
    }

    input[type="checkbox"] {
        position: absolute;
        left: -9999px;
    }

    input[type="checkbox"] ~ ul {
        height: 0;
        transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ ul {
        height: 100%;
        transform-origin: top;
        transition: transform .2s ease-out;
        transform: scaleY(1);
    }

    input[type="checkbox"]:checked + label {
        background: #26C281;
    }
    
    input[type="checkbox"]:checked + label:hover {
        background: #fab;
    }
}