/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End meyer reset */

/* Link to fonts in folder */
@font-face {
    font-family: AnchorJack; src: url('fonts/AnchorJack.ttf'); 
}

@font-face {
    font-family: GillSans; src: url('fonts/GillSans.ttc'); 
}

/* Document defaults */
body {
    font-family: 'GillSans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #3b3b3b;
}

.bg-tan {
    background-color: #d6c3a3;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Font sizes */
.fs1 {
    font-size: 32px;
    letter-spacing: 5px;
}

.fs2 {
    font-size: 24px;
}

.fs3 {
    font-size: 18px;
}

.fs4 {
    font-size: 14px;
}

.fs5 {
    font-size: 12p;
}

/* Font colors */
.fc-white {
    color: #fff;
}

.fc-black {
    color: #3b3b3b;
}

.fc-orange {
    color: darkorange;
}

/* Font families */
.ff-futura-cond-eb {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    color:black;
    
}

.ff-gillsans {
    font-family: 'GillSans', sans-serif;
}

.ff-anchorjack {
    font-family: 'Anchor Jack', sans-serif;
    text-transform: uppercase;
}

.bg-white {
    background-color: #fff;
}

.mobile-ta-center {

}


.top-nav {
    height: 58px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    position:fixed;
    top: 0;
    
}

.nav-ul {
    
    height: 58px;
    width: 100%;
    max-width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    color:#CD562A;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.top-nav-mobile {
    display: none;
    width: 100%;
    background-color: #fff;
}

.hamburger-container {
    width: 68px;
    height: 58px;
    margin: 0;
    padding: 0;
}

.hamburger {
    width: 30px;
    height: 20px;
    margin: 19px;
}

.hamburger-dropdowns {
    width: 100vw;
    text-align: center;
    margin: 5px auto;
}

.mobile-content-container {
    display: none;
}

.wrapper {
    margin: 10px auto;
    width: 400px;
}

.schedule-body {
    
    background-color: burlywood;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
}

#schedule-menu {
    
    background-image: url(images/day1.png);
    background-size:cover;
    background-repeat: no-repeat;
    height:400px;
    margin-top: 30px;
}

.schedule-list {
    
    width:400px;
    margin-left: auto;
    margin-right:auto;
}



.content-container {
    margin-top: 100px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}
.speak {
    float:left;
    padding-right: 30px;
}

/* START PARALLAX SCROLL */


#hero {
    overflow: hidden; 
}

#content {
    height:1100px;
    margin-right:auto;
    margin-left:auto;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}


.title-section {
 
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

#title-conference {
    
    font-family: AnchorJack;
    color:black;
    letter-spacing: 3.7px;
    font-size: 45px;
    text-align: center;
}


.first-section {

    margin-top:50px;
    margin-left: auto;
    margin-right:auto;
    width:480px;
}

.date-section {
    margin-left: auto;
    margin-right:auto;
    background-image: url(images/dates-box.png);
    height:200px;
    width:450px;
    background-repeat: no-repeat;
    background-position: center
    
}


.second-section {

    margin-left: auto;
    margin-right:auto;
    background-image: url(images/tickets-now-orange.png);
    height:300px;
    width:350px;
    background-repeat: no-repeat;
    background-position: center
}

.third-section {

    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right:auto;
    height:55px;
    width:500px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px;
    border-color: rgba(0,0,0,0.3);
    border-style: solid;
    
}


.third-section:hover {
    
    background-color:mediumseagreen;

}


#register-now {
    
    font-family: AnchorJack;
    color: black;
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
}


      
.fourth-section {

    margin-left: auto;
    margin-right:auto;
    background-image: url(images/sponsors.png);
    height:200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:20px;
}


.text-header {
  font-size: 50px;
  text-align: center;
}

.statement {
    font-family:"futura-pt-condensed", sans-serif;
    font-size:19px;
    font-kerning: 200px;
    line-height: 200%;
    margin-bottom: 30px;
    color:black;   
}


p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}


#hero, .layer {
    min-height: 800px;
}

.layer-bg {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg"); 
}

.layer-1 {
    background-image: url(images/llax/lax1.png);
    background-position: left bottom;
}

.layer-2 {
    background-image: url(images/llax/2_2.png);
    padding-top:200px;
}

.layer-3 {
    background-image: url(images/llax/lax3.png);
}

.layer-4 {
    background-image: url(images/llax/4_4.png);
    padding-top:750px;
}

.layer-5 {
    background-image: url(images/llax/5_5.png);
}

.layer-6 { 
    background-image: url(images/llax/long-ass-cloud.png);
    padding-top: 1500px;

}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }


/* .........END PARALLAX SCROLL............ */


/* .........START MEDIA QUERIES............ */

@media only screen and (max-width: 959px) {

.expand {
    max-height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.toggle:checked ~ .expand {

    
    overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.hide-checkbox {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 959px) {
    .top-nav {
        display: none;
    }

    .top-nav-mobile {
        display: block;
    }
}

@media only screen and (max-width: 959px) {
    .content-container {
        display: none;
    }
    
    .mobile-content-container {
        display: block;
    }
}